$color_1: white;
$color_2: Aquamarine;
$color_3: Gray;
$font-family_1: Verdana, sans-serif;
$background-color_1: black;

body {
  font-family: $font-family_1;
  text-align: center;
  background-color: $background-color_1;
  color: $color_1;
}
.cta {
  color: $color_2;
  font-size: 16px;
}
h1 {
  font-size: 50px;
  font-weight: normal;
}
h2 {
  font-size: 42px;
  font-weight: 300;
}
p {
  color: $color_3;
  font-size: 21px;
}
.footer {
  text-align: right;
}
@media only screen and (max-width: 480px) {
  body {
    video {
      width: 100%;
    }
  }
  .chosen {
    width: 100%;
  }
}
